@import 'nib'

@import 'imports/reset'
@import 'imports/shared'

@import 'imports/remix'
@import 'imports/context-menu'
@import 'imports/main-menu'
@import 'imports/play-controls'
@import 'imports/ruler'
@import 'imports/timeline'
@import 'imports/automation-data'
@import 'imports/video'
@import 'imports/clip'
@import 'imports/timeline-clip'
@import 'imports/clip-manager'
@import 'imports/clip-inspector'
@import 'imports/video-finder'
@import 'imports/video-player'