.remix
  display: inline-block
  position: relative
  
  > .play-controls
    position: absolute
    top: 0
    left: 0
    width: $timeline-header-width
    background: #ccc
    z-index: 1
    box-sizing: border-box
    text-align: center
    padding: .3em
    
    button
      font-size: 12px
    
  
  > .context-menu
    position: absolute
    display: inline-block
    visibility: hidden
    opacity: 0
    transition: .25s opacity, visibility
    z-index: 1
    
    a
      cursor: pointer
    
    &.show
      visibility: visible
      opacity: 1