$timeline-header-width = 10em

div[data-label]
  padding: 1.75em 0
  position: relative
  
  input[type='text']
    box-sizing: border-box
    padding-left: 1em
  
  &::before
    padding: .5em
    border: 1px dotted rgba(255,255,255,0.2)
    background: rgba(255,255,255,0.1);
    border-radius: 4px
    content: attr(data-label)