.timeline
  box-sizing: border-box
  height: 10em
  border: 0 solid #000;
  border-width: 0 0 1px 0;
  position: relative
  background: linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0.2)) no-repeat 0 0
  background-size: 0 0
  transition: .25s all