.video
  width: 17.7777em
  height: 10em
  background: transparent no-repeat center center
  background-size: 100% auto
  position: relative
  overflow: hidden
  box-sizing: border-box
  border: 1px solid rgba(0,0,0,0.5)
  color: #000
  display: inline-block
  
  &::before
    position: absolute
    top: 0
    left: 0
    display: inline-block
    content: attr(data-title)
    background: rgba(255,255,255,0.75)
    padding: .5em 1em
    border-bottom: 1px solid rgba(0,0,0,0.5)
  
  &::after
    position: absolute
    bottom: 1em
    right: 0
    content: attr(data-duration)
    background: rgba(255,255,255,0.75)
    padding: .5em 1em
    box-shadow: 0 0 .5em rgba(0,0,0,0.5);