.automation-data
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

	svg
		width: 100%
		height: 100%

	.point
		stroke: #000
		stroke-width: .1em
		fill: #F00

	.pointPath
		fill: none
		stroke: #000
		stroke-width: .1em