.clip-inspector
  
  .cut
    position: relative
    margin: 0 4em
    
    .ui-slider-handle:focus
      outline: none
    
  .cut-start
    position: absolute
    bottom: 100%
    margin-bottom: .5em
  
  .cut-end
    position: absolute
    top: 100%
    margin-top: .5em
  
  .clip-title
    margin: .5em
    padding-left: 2.5%
    padding-right: 2.5%
    width: 95%
    
  .clip-video
    position: relative
    display: inline-block
    vertical-align: top
    margin: 0 2em
    cursor: pointer
    
    width: $video-width
    height: $video-height
    
    &:empty
      background: rgba(255,255,255,0.25)
      
      &::before
        position: absolute
        top: 50%
        left: 0
        width: 100%
        text-align: center
        margin-top: -.5em
        font-size: 200%
        content: 'Select Video'
        