.main-menu
	position: fixed
	z-index: 4
	padding: .15em
	box-sizing: border-box
	height: $main-menu-height
	background: #eee
	width: 100%
	border-bottom: 1px inset rgba(0,0,0,0.2)

.ui-menubar
	display: inline-block
	margin-top: .3em

	button
		font-size: 1em !important