.remix
	display: inline-block
	position: relative
	white-space: nowrap
	z-index: 0
	overflow: hidden
	
	> .toggle-clip-manager
		position: fixed
		bottom: 0
		right: 0
		margin: 1em
		z-index: 3
	
	> input.title
		position: fixed
		z-index: 5
		left: 50%
		top: 0
		width: 50%
		margin: 0 0 0 (-@width / 2)
		background: none
		border: none
		font-size: 2em
		text-align: center
		box-shadow: none
		line-height: 1em

	> .timelines
		position: relative
		overflow: hidden
		z-index: 0