.timeHand
	transform: translate3d(0,0,0)
	transform-style: flat

	margin-top: $main-menu-height
	position: absolute
	top: 0
	left: 0
	width: 1px
	height: 100%
	background: #F00
	z-index: 3
	box-shadow: 0 0 1px #000
	margin-left: $timeline-header-width

.ruler
	transform: translate3d(0,0,0)
	transform-style: flat

	z-index: 2
	background: #fff
	margin-top: $main-menu-height
	display: inline-block
	vertical-align: top
	$border-color = #000
	$border = 1px solid $border-color
	white-space: nowrap
	padding-top: 1.2em
	height: $ruler-height
	box-sizing: border-box
	overflow: hidden
	position: relative
	left: $timeline-header-width
	
	> .markings
		margin-left: -4em
		> *
			display: inline-block
			width: 8em
			text-align: center
			position: relative
			box-sizing: border-box
			border-left: $border
			
			&::before
				position: absolute
				left: 25%
				top: 100%
				width: 25%
				height: 100%
				content: ""
				//border-right: $border
				border-left: $border
				margin-left: -1px
				
			&::after
				position: absolute
				right: 25%
				top: 100%
				width: 25%
				height: 100%
				content: ""
				border-right: $border
				border-left: @border-right
				margin-right: -1px
				
			&:first-child
				color: transparent
				
				&::after
					border-left: none
				
			> *
				position: absolute
				left: -1px
				top: 75%
				width: 100%
				height: 125%
				border-left: $border
				border-bottom: @border-left
				box-sizing: border-box
				
				&::before
					position: absolute
					bottom: 0
					left: 12.5%
					width: 50%
					height: 50%
					border-left: $border
					border-right: @border-left
					content: ""
					margin-left: -1px
				
				 &::after
					position: absolute
					bottom: 0
					right: 12.5%
					width: 50%
					height: 50%
					border-left: $border
					border-right: @border-left
					content: ""
					margin-right: -2px
			
		
	