$ruler-height = 4em

$main-menu-height = 3em
$timeline-header-width = 10em
$timeline-height = 10em
$video-width = 17.7777em
$video-height = 10em
$clip-width = $video-width
$clip-height = $video-height

*
	outline: none

body
	font-size: 16px
	font-family: Monaco, sans-serif
	user-select: none

:input
	user-select: all


.modal-overlay
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: rgba(0,0,0,0.01)
	z-index: 4

	&:not(.show)
		visibility: hidden

.ui-dialog
	position: fixed !important

.ui-selectable-helper
	pointer-events: none
	background: none

.ui-button
	box-sizing: border-box
	text-decoration: none

div[data-label]
	padding: 1.75em 0
	position: relative
	
	input[type='text']
		box-sizing: border-box
		padding-left: 1em
	
	&::before
		padding: .5em
		border: 1px dotted rgba(255,255,255,0.2)
		background: rgba(255,255,255,0.1);
		border-radius: 4px
		content: attr(data-label)