.timeline
	$header-height = 3.5em
	
	box-sizing: border-box
	height: $timeline-height
	border-top: 1px solid #000
	position: relative
	background: #fff
	
	transition: .25s height

	> .header
		padding: 1em .75em
		box-sizing: border-box
		transform: translate3d(0,0,0)
		transform-style: flat
		position: fixed
		z-index: 2147483647
		width: $timeline-header-width
		height: $timeline-height
		background: #ccc
		overflow: hidden
		transition: .25s height
		border-top: 1px solid #000
		box-sizing: border-box
		margin-top: -1px

		> .automation-selector
			width: 80%

		> .automation-value
			margin-top: .3em
			float: right
			height: 6.5em

			transition: .5s all

			&.hidden
				visibility: hidden
				opacity: 0
		
		> .toggle-height
			position: absolute
			top: .75em
			right: .25em
		
		&::before
			display: block
			content: attr(data-title)
			background: #ccc
			margin-bottom: 1em
			
	&.collapsed, &.collapsed > .header
		height: $header-height
	
	> .timeline-clips
		height: 100%
		position: relative
		z-index: 1
		left: $timeline-header-width

		> .automation-data
			position: relative
			z-index: 2147483647
		
		> .timeline-clip
			height: 100%
	
	> .selection
		background: #ccc
		position: absolute
		top: 0
		height: 100%